.cwSAMain .container-flexi{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.cwSAMain .content-wraper{display:block;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.cwSAMain .display-flex{display:flex!important;}
.cwSAMain .content-center{-ms-flex-pack:center!important;justify-content:center!important;}
.cwSAMain .mobile-sm-4, .cwSAMain .mobile-sm-8, .cwSAMain .mobile-sm-12, .cwSAMain .tab-md-4, .cwSAMain .tab-md-8, .cwSAMain .tab-md-12, .cwSAMain .desktop-lg-2, .cwSAMain .desktop-lg-4, .cwSAMain .desktop-lg-6, .cwSAMain .desktop-lg-12{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.cwSAMain .pl4, .cwSAMain .px4{padding-left:24px!important;}
.cwSAMain .pr4, .cwSAMain .px4{padding-right:24px!important;}
.cwSAMain .pb4, .cwSAMain .py4{padding-bottom:24px!important;}
.cwSAMain .mt4, .cwSAMain .my4{margin-top:24px!important;}
.cwSAMain .ml2, .cwSAMain .mx2{margin-left:8px!important;}
.cwSAMain .mt3, .cwSAMain .my3{margin-top:16px!important;}
.cwSAMain .nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.cwSAMain .nav-tabs{}
.cwSAMain .input-wraper{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:stretch;align-items:stretch;width:calc(100% - 30px);margin:auto;}
.cwSAMain .input-wraper>.custom-file, .cwSAMain .input-wraper>.custom-select, .cwSAMain .input-wraper>.field-control, .cwSAMain .input-wraper>.field-control-plaintext{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;width:1%;margin-bottom:0;}
.cwSAMain .field-control{display:block;width:100%;height:calc(24px + 12px + 2px);padding:6px 12px;font-size:16px;font-weight:400;line-height:1.5;color:#000;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:4px;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.cwSAMain .media-container{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;}
.cwSAMain .media-bodycontainer{-ms-flex:1;flex:1;}
.cwSAMain .list_inline{padding-left:0;list-style:none;}
.cwSAMain .d_none{display:none!important;}
.cwSAMain .address_list li:first-child{border-top: solid 1px #d3d3d3;}
.pac-container {z-index: 9999;} /*Auto completer*/
.cwSAMain .input-wraper-unstyled button.cwLocLens{display: none;}
@media (min-width:1025px){
.cwSAMain .d_lg_none{display:none!important;}
.cwSAMain .d_lg_block{display:block!important;}
}
@media (min-width:768px){.cwSAMain .d_md_block{display:block!important;}
.cwSAMain .d_md_none{display:none!important;}
}
@media (min-width:576px){.cwSAMain .d_sm_none{display:none!important;}
}
@media (max-width:992px){.cwSAMain .desktop-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
.cwSAMain .desktop-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.cwSAMain .desktop-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
.cwSAMain .desktop-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;}
}
@media (max-width:768px){.cwSAMain .tab-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
.cwSAMain .tab-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;}
.cwSAMain .tab-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
}
@media (max-width:576px){.cwSAMain .mobile-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
.cwSAMain .mobile-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;}
.cwSAMain .mobile-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
}
@media (min-width:993px){.cwSAMain .desktop-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;}
.cwSAMain .desktop-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.cwSAMain .desktop-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
}